aside {
	padding: 6em 2em 2em;
	text-align: right;

	@media all and (min-width: 1000px) {
		vertical-align: top;
		display: inline-block;
		width: 33.333333%;
	}

	textarea {
		font-size: 0.8em;
	}
}

	.results-form {
		label, input {
			display: inline-block;
		}

		input {
			width: 4em;
			margin-left: 1em;
		}

		.button {
			display: block;
			width: 7em;
			margin: 0 0 0 auto;
		}
	}