header {
	padding: 0.5em 1em;
	position: relative;
	background-color: $dark-gray;
	color: $light-gray;
	font-size: 0.8em;
}

	.info {
		max-width: calc(100% - 6em);
	}

		.info-list {
			display: inline-block;
			vertical-align: top;
			margin: 0.75em;
			li {
				display: inline-block;
				margin: 0 0.5em;
			}
		}

		.team-select{
			display: inline-block;
			margin: 0.75em;
			vertical-align: top;
			width: auto;
		}

		.week-details {
			display: inline-block;
			vertical-align: top;
			width: 4em;
			white-space: nowrap;

			& > summary {
				border-radius: $base-border-radius;
				background-color: $action-color;
				color: #fff;
				width: 4em;
				line-height: 2.75em;
				text-align: center;
				margin-right: 1em;

				svg {
					font-size: 1.5em;
					position: relative;
					top: 0.25em;
				}

				&:hover,
				&:focus {
					background-color: shade($action-color, 20%);
					color: #fff;
				}
			}

			ul ul {
				margin-left: 2em;
			}
		}

	.login {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0.5em 1em;
	}
