@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

.button {
	@extend button;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

body {
	max-width: 100%;
	overflow-x: hidden;
}

pre {
	background: url('images/prebg.gif');
	background-size: 1px 4em;
	line-height: 2em;
}

$cfl-color:#a72b2a;

$bc-color-1: #ed8B00;
$bc-color-2: #fff;

$calgary-color-1: #c8102e;
$calgary-color-2: #fff;

$edmonton-color-1: #2c5234;
$edmonton-color-2: #ffb81c;

$hamilton-color-1: #010101;
$hamilton-color-2: #ffb81c;

$montreal-color-1: #003A70;
$montreal-color-2: #862633;

$ottawa-color-1: #a6192e;
$ottawa-color-2: #010101;

$saskatchewan-color-1: #006341;
$saskatchewan-color-2: #fff;

$toronto-color-1: #0c2340;
$toronto-color-2: #5e90b0;

$winnipeg-color-1: #003087;
$winnipeg-color-2: #B9975b;

@import 'header';
@import 'main';
@import 'aside';
@import 'notification-bar';
@import 'user-list';
@import 'modal';